  body {
    background-color: Gainsboro;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: slategray;
    border-width: 5px;
    width: 5%;
  }

  img {
    height: 200px
  }

  H1 {
    color: peru;
  }

  h3 {
    color: peru;
  }
